# The port for the server
PORT=3000

# The origin (URL) of your frontend client
CLIENT_ORIGIN=http://localhost:3000

# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/your-database-name
